<%= render "shared/header" %>
<div class="main">
  <%# ヘッダー %>
  <%# //ヘッダー %>
  <%# 商品一覧 %>
  <div class='item-contents'>
    <h2 class='title'><%= @user.nickname %>さんの商品</h2>
    <ul class='item-lists'>
      <% if @items != [] %>
        <%= render partial: 'items/item', collection: @items %>
      <% else %>
        <div class="item-list-none">
          <p>まだ出品はありません</p>
        </div>
      <% end %>
    </ul>
  </div>
  <%# /商品一覧 %>
</div>
<%= render "shared/footer" %>